<div id="page-wrapper">
  <div id="page-middle-wrapper">
    <app-map
      (mapEvent)="appWeather.getWeather($event);appCareer.setLocation($event);appWikipedia.setLocation($event);appVideo.getVideos($event);appGenome.setLocation($event)"></app-map>
  </div>

  <div id="page-right-wrapper">
    <div id="page-left-weather-wrapper">
      <h2>What is the forecast?</h2>
      <p>Here is the local weather forecast for the next couple of days.</p>
      <hr/>
      <app-weather #appWeather></app-weather>
    </div>
    <app-career #appCareer></app-career>
  </div>

  <div id="page-left-wrapper">
    <div id="page-left-disqus-wrapper">
      <h2>Do you have something you want to discuss?</h2>
      <p>This discussion thread is open for discussion.</p>
      <hr/>
      <div id="disqus_thread"></div>
    </div>
    <div class="row">
    <app-wikipedia #appWikipedia></app-wikipedia>
    </div>
    <div class="row">
    <app-video #appVideo></app-video>
    </div>
    <div class="row">
      <app-genome #appGenome></app-genome>
    </div>

  </div>

</div>
